* {
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.block {
    display: flex;
    justify-content: space-between;
    background-color: rgb(184, 179, 179);
    border-radius: 0.6em;
    width: 80px;
    height: 80px;
    margin: 15px;
    padding: 5px;
}

.circle {
    border-radius: 50% 50%;
    width: 20px;
    height: 20px;
    background: black;
}

.circle-end {
    align-self: flex-end;

}
.bl-1 {
    align-items: center;
    justify-content: center;
}

.bl-2 .circle:last-child {
    align-self: flex-end;
}
.bl-3 .circle:last-child {
    align-self: flex-end;
}
.bl-3 .circle-center {
    align-self: center;
}
.bl-4 .col, .bl-5 .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bl-5 .col:nth-last-child(2) {
    align-self: center;
}

.bl-6 {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-end;
}




